DATABASE_URL="postgresql://postgres:postgres@localhost:5433/verzel_events?schema=public"
JWT_SECRET="dev-secret-change-before-deploy"
TICKET_QR_SECRET="dev-ticket-qr-secret-change-before-deploy"
TMDB_BASE_URL="https://api.themoviedb.org/3"
TMDB_ACCESS_TOKEN="your_tmdb_token"
TMDB_LANGUAGE="pt-BR"
TMDB_REGION="BR"
FRONTEND_URL="http://localhost:3000"
PORT="3333"
NODE_ENV="development"
